<h2 class="my-4 text-center">レッスンノート一覧</h2>

<div class="container">
  <div style="max-width: 800px; margin: auto;">
    <% if @lesson_notes.empty? %>
      <p class="text-center">現在、レッスンノートはありません。</p>
    <% else %>
      <div class="text-end mb-2">
        <span class="text-success"><i class="bi bi-check-circle"></i> 完了</span>
        <span class="text-danger"><i class="bi bi-x-circle"></i> キャンセル</span>
      </div>
      <table class="table table-striped table-bordered lesson-note-table">
        <thead class="thead-light text-center">
          <tr>
            <th style="width: 4.5em;">生徒名</th>
            <th style="width: 4em;">日付</th>
            <th>内容</th>
            <th style="width: 4em;">状態</th>
            <th style="width: 4em;">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @lesson_notes.each do |lesson_note| %>
            <tr>
              <td class="lesson-note-student-name"><%= lesson_note.student_name %></td>
              <td>
                <%= lesson_note.lesson_date.strftime('%Y-') %><br>
                <%= lesson_note.lesson_date.strftime('%m-%d') %>
              </td>
              <td class="lesson-note-table-content"><%= lesson_note.content %></td>
              <td class="text-center">
                <% if lesson_note.log_status == "完了" %>
                  <i class="bi bi-check-circle text-success" title="完了"></i>
                <% elsif lesson_note.log_status == "キャンセル" %>
                  <i class="bi bi-x-circle text-danger" title="キャンセル"></i>
                <% else %>
                  <i class="bi bi-question-circle text-secondary" title="<%= lesson_note.log_status %>"></i>
                <% end %>
              </td>
              <td>
                <%= link_to '詳細', instructors_lesson_note_path(lesson_note), class: "btn btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="text-center my-4">
    <%= link_to 'レッスンノートを作成', new_instructors_lesson_note_path, class: "btn btn-primary" %>
  </div>
</div>
