<h2 class="my-4 text-center">レッスンノート一覧</h2>

<div class="container">
  <div style="max-width: 800px; margin: auto;">
    <%= link_to new_instructors_lesson_note_path,
      class: "btn btn-success position-fixed bottom-0 end-0 m-4 shadow-lg",
      style: "width: 120px;" do %>
    <i class="bi bi-plus-lg me-2"></i>新規作成
    <% end %>
    <% if @lesson_notes.empty? %>
      <p class="text-center">現在、レッスンノートはありません。</p>
    <% else %>
      <table class="table table-striped table-bordered lesson-note-table">
        <thead class="thead-light text-center">
          <tr>
            <th style="width: 4.5em;">生徒名</th>
            <th style="width: 4em;">日付</th>
            <th>内容</th>
            <th style="width: 4em;">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @lesson_notes.each do |lesson_note| %>
            <tr>
              <td class="lesson-note-index-name <%= 'text-muted x-small' if lesson_note.student_name == '情報なし' %>">
                <%= lesson_note.student_name %>
              </td>
              <td>
                <% if lesson_note.start_time.present? %>
                  <%= lesson_note.start_time.strftime('%Y-') %><br>
                  <%= lesson_note.start_time.strftime('%m-%d') %>
                <% else %>
                  <span class="text-muted x-small">情報なし</span>
                <% end %>
              </td>
              <td class="lesson-note-table-content"><%= lesson_note.content %></td>
              <td>
                <%= link_to '詳細', instructors_lesson_note_path(lesson_note), class: "btn btn-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
