<div class="mt-4 mx-2">
  <div class="card border-primary mb-3 mx-auto" style="max-width: 50rem;">
    <div class="card-header text-white bg-primary">
      <h2 class="mb-0">レッスンノート作成</h2>
    </div>
    <div class="card-body">
      <%= form_with model: @lesson_note, url: instructors_lesson_notes_path do |form| %>
        <%= render 'shared/error_messages', object: form.object %>

        <div class="row g-3 mb-3">
          <div class="col-md-4">
            <div class="p-3 bg-light h-100">
              <h4 class="card-title">
                <i class="bi bi-person"></i> 生徒選択
              </h4>
              <%= form.collection_select :student_id, @students, :id, :student_name, { selected: params[:student_id] }, class: "form-select" %>
            </div>
          </div>

          <div class="col-md-8">
            <div class="p-3 bg-light h-100">
              <h4 class="card-title">
                <i class="bi bi-calendar"></i> 日時
              </h4>
              <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">開始時間：</label>
                <%= form.datetime_local_field :start_time, placeholder: "タップして選択", class: "form-control" %>
              </div>

              <div class="col-md-6">
                <label class="form-label">終了時間：</label>
                <%= form.datetime_local_field :end_time, placeholder: "タップして選択", class: "form-control" %>
              </div>
            </div>
            </div>
          </div>
        </div>

        <div class="p-3 mb-3 bg-light">
          <h4 class="card-title">
            <i class="bi bi-file-earmark-text"></i> 内容
          </h4>
          <%= form.text_area :content, class: "form-control" %>
        </div>

        <div class="p-3 mb-3 bg-light">
          <h4 class="card-title">
            <i class="bi bi-sticky"></i> 講師用メモ
          </h4>
          <%= form.text_area :instructor_memo, class: "form-control" %>
        </div>

        <div class="p-3 mb-3 bg-light">
          <h4 class="card-title">
            <i class="bi bi-image"></i> 画像資料
          </h4>
          <%= form.file_field :image_material, class: "form-control" %>
          <div class="text-end text-muted mt-1">
            ※ jpg/jpeg/png/gif がアップロード可能です
          </div>
        </div>

        <div class="p-3 mb-3 bg-light">
          <h4 class="card-title">
            <i class="bi bi-youtube"></i> 動画資料 (YouTube URL)
          </h4>
          <%= form.text_field :video_material, placeholder: "YouTubeの動画URLを入力してください", class: "form-control" %>
        </div>

        <div class="d-grid">
          <%= form.submit "作成", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= link_to '戻る', :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
