<h1>レッスンノート詳細</h1>

<p>
  <strong>生徒:</strong>
  <%= @lesson_note.student.student_name %>さん
  <%= link_to '生徒詳細へ', instructors_student_path(@lesson_note.student_id) %>
</p>

<p>
  <strong>レッスン日時:</strong>
  <%= @lesson_note.lesson_date.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>レッスン内容:</strong>
  <%= @lesson_note.content %>
</p>

<p>
  <strong>生徒用メモ:</strong>
  <%= @lesson_note.student_memo %>
</p>

<p>
  <strong>講師用メモ:</strong>
  <%= @lesson_note.instructor_memo %>
</p>

<p>
  <strong>画像資料:</strong>
  <% if @lesson_note.image_material? %>
    <%= image_tag @lesson_note.image_material.url, style: "max-width: 200px; height: auto;" %>
  <% end %>
</p>

<p>
  <strong>動画資料:</strong>
  <% if @lesson_note.video_material.present? %>
    <div class="video-container">
      <iframe width="560" height="315" src="<%= @embed_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% else %>
    <p>動画資料はありません。</p>
  <% end %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @lesson_note.log_status %>
</p>

<%= link_to '編集', edit_instructors_lesson_note_path(@lesson_note) %>
<%= link_to instructors_lesson_note_path(@lesson_note), data: { turbo: "true", turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" do %>
  <i class="bi bi-trash">削除</i>
<% end %>
<%= link_to '戻る', :back %>
