<div class="mt-4 mx-2">
  <div class="card border-primary mb-3 mx-auto" style="max-width: 80rem;">
    <div class="card-header text-white bg-primary">
      <h2 class="mb-0">レッスンノート詳細</h2>
    </div>
    <div class="card-body">

      <div class="row g-2">
        <div class="col-md-6">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-person"></i> 生徒
            </h4>
            <p class="mb-0"><%= @lesson_note.student&.student_name || '<span class="text-muted">情報なし</span>'.html_safe %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-calendar"></i> 日時
            </h4>
            <p class="mb-0">
              <% if @lesson_note.start_time.present? && @lesson_note.end_time.present? %>
                <%= @lesson_note.start_time.strftime("%Y年%m月%d日 %H:%M") %> 〜
                <%= @lesson_note.start_time.to_date != @lesson_note.end_time.to_date ? @lesson_note.end_time.strftime("%d日 %H:%M") : @lesson_note.end_time.strftime("%H:%M") %>
              <% else %>
                <span class="text-muted ">情報なし</span>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="row g-2 pt-3">
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-file-earmark-text"></i> 内容
            </h4>
            <p class="mb-0"><%= simple_format@lesson_note.content %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-sticky-fill"></i> 講師用メモ
            </h4>
            <p class="mb-0"><%= simple_format@lesson_note.instructor_memo %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-sticky"></i> 生徒用メモ
            </h4>
            <p class="mb-0"><%= simple_format@lesson_note.student_memo %></p>
          </div>
        </div>
      </div>

      <div class="row g-2 py-3">
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-image"></i> 画像資料
            </h4>
            <% if @lesson_note.image_material.present? %>
              <%= image_tag @lesson_note.image_material.url, class: "img-fluid" %>
            <% else %>
              <p class="text-muted">画像資料はありません。</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-youtube"></i> 動画資料 (YouTube URL)
            </h4>
            <% if @lesson_note.video_material.present? %>
              <div class="ratio ratio-16x9">
                <iframe src="<%= @embed_url %>" allowfullscreen ></iframe>
              </div>
            <% else %>
              <p class="text-muted">動画資料はありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <div class="d-flex justify-content-center mb-3">
          <%= link_to '編集', edit_instructors_lesson_note_path(@lesson_note), class: "btn btn-primary me-2" %>
          <%= link_to '削除', instructors_lesson_note_path(@lesson_note),
            data: { turbo: "true", turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
            class: "btn btn-danger" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= link_to 'ノート一覧へ', instructors_lesson_notes_path, class: "btn btn-light rounded-pill" %>
          <% if @lesson_note.student.present? %>
            <%= link_to '生徒詳細へ', instructors_student_path(@lesson_note.student), class: "btn btn-dark rounded-pill ms-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
