<h1>レッスンログ一覧</h1>

<table>
  <thead>
    <tr>
      <th>講師名</th>
      <th>レッスン日</th>
      <th>レッスン内容</th>
      <th>状態</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson_logs.each do |lesson_log| %>
      <tr>
        <td><%= lesson_log.instructor_name %></td>
        <td><%= lesson_log.lesson_date.strftime('%Y-%m-%d') %></td>
        <td><%= lesson_log.content %></td>
        <td><%= lesson_log.log_status %></td>
        <td>
          <%= link_to '詳細', students_lesson_log_path(lesson_log) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
