<div class="mt-5 mx-4">
  <div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title') %></h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :instructor_name, class: "form-label" %>
          <%= f.text_field :instructor_name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %>
          <% if @minimum_password_length %>
            <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
