<h1>プロフィール</h1>

<h3>名前</h3>
<%= @instructor.instructor_name %>
<h3>メールアドレス</h3>
<%= @instructor.email %>
<h3>担当コース</h3>
<%= @instructor.course %>

<p><%= link_to 'プロフィール編集', instructor_profile_edit_path %></p>

<p><%= link_to 'ホームに戻る', root_path %></p>
