<h1>レッスンログ一覧</h1>

<table>
  <thead>
    <tr>
      <th>生徒名</th>
      <th>レッスン日</th>
      <th>レッスン内容</th>
      <th>状態</th>
    </tr>
  </thead>
  <tbody>
    <% @lesson_logs.each do |lesson_log| %>
      <tr>
        <td><%= lesson_log.student_name %></td>
        <td><%= lesson_log.lesson_date.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= lesson_log.content %></td>
        <td><%= lesson_log.log_status %></td>
        <td>
          <%= link_to '詳細', lesson_log_path(lesson_log) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'レッスンログを作成', new_lesson_log_path %>
