<h1>レッスンログ詳細</h1>

<p>
  <strong>生徒:</strong>
  <%= @lesson_log.student.student_name %>
</p>

<p>
  <strong>レッスン日:</strong>
  <%= @lesson_log.lesson_date.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>レッスン内容:</strong>
  <%= @lesson_log.content %>
</p>

<p>
  <strong>講師用メモ:</strong>
  <%= @lesson_log.instructor_memo %>
</p>

<p>
  <strong>画像資料:</strong>
  <% if @lesson_log.image_material? %>
    <%= image_tag @lesson_log.image_material.url, style: "max-width: 200px; height: auto;" %>
  <% end %>
</p>

<p>
  <strong>動画資料:</strong>
  <%= @lesson_log.video_material %>
</p>

<p>
  <strong>ログの状態:</strong>
  <%= @lesson_log.log_status %>
</p>

<%= link_to '編集', edit_lesson_log_path(@lesson_log) %>

<%= link_to '戻る', lesson_logs_path %>
