<div class="container text-center mt-5">
  <h1 class="display-4">Welcome to LessonBoard!</h1>
  <p class="lead">レッスンボードで充実した音楽ライフを楽しみましょう！</p>

  <% if instructor_signed_in? %>
    <div class="alert alert-success">
      <p><%= current_instructor.instructor_name %>先生、こんにちは！</p>
    </div>
  <% elsif student_signed_in? %>
    <div class="alert alert-info">
      <p><%= current_student.student_name %>さん、こんにちは！</p>
    </div>
  <% else %>
    <div class="my-4">
      <div class="mb-2">
        <a href="<%= new_instructor_registration_path %>" class="btn btn-link w-50">講師アカウント登録</a>
      </div>
      <div class="mb-2">
        <a href="<%= new_instructor_session_path %>" class="btn btn-primary btn-lg w-50">講師ログイン</a>
      </div>
      <div class="mb-2">
        <a href="<%= new_student_session_path %>" class="btn btn-secondary btn-lg w-50">生徒ログイン</a>
      </div>
      <div class="dropdown-center mt-5">
        <button class="btn btn-info dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ゲストログイン
        </button>
        <ul class="dropdown-menu text-center">
          <li><a class="dropdown-item" href="#">講師ユーザー</a></li>
          <li><a class="dropdown-item" href="#">生徒ユーザー</a></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
