<h1>My Lessons</h1>

<div class="lesson-cards">
  <% @lessons.each_with_index do |lesson, index| %>
    <div class="lesson-card <%= 'next-lesson' if index == 0 %>">
      <h2><strong>日程:</strong> <%= lesson.start_time.strftime("%Y-%m-%d") %></h2>
      <p><strong>時間:</strong> <%= lesson.start_time.strftime("%H:%M") %> 〜 <%= lesson.end_time.strftime("%H:%M") %></p>
      <p><strong>講師:</strong> <%= lesson.instructor_name %>先生</p>
      <p><strong>ステータス:</strong> <%= lesson.status %></p>
      <p><strong>レッスンID:</strong> <%= lesson.id %></p>
    </div>
  <% end %>
</div>
