<h1>レッスンノート詳細</h1>

<p>
  <strong>講師:</strong>
  <%= @lesson_note.instructor.instructor_name %> 先生
</p>

<p>
  <strong>レッスン日時:</strong>
  <%= @lesson_note.lesson_date.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>レッスン内容:</strong>
  <%= @lesson_note.content %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @lesson_note.student_memo %>
</p>
<%= link_to 'メモを入力', edit_students_lesson_note_path(@lesson_note) %>

<p>
  <strong>画像資料:</strong>
  <% if @lesson_note.image_material? %>
    <%= image_tag @lesson_note.image_material.url, style: "max-width: 200px; height: auto;" %>
  <% else %>
    <p>画像資料はありません。</p>
  <% end %>
</p>

<p>
  <strong>動画資料:</strong>
  <% if @lesson_note.video_material.present? %>
    <div class="video-container">
      <iframe width="560" height="315" src="<%= @embed_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% else %>
    <p>動画資料はありません。</p>
  <% end %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @lesson_note.log_status %>
</p>

<%= link_to '戻る', :back %>
