<div class="mt-4 mx-2">
  <div class="card border-primary mb-3 mx-auto" style="max-width: 80rem;">
    <div class="card-header text-white bg-primary">
      <h2 class="mb-0">レッスンノート詳細</h2>
    </div>
    <div class="card-body">
      <div class="row g-2">
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-person"></i> 講師
            </h4>
            <p class="mb-0"><%= @lesson_note.instructor.instructor_name %> 先生</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-calendar"></i> 日時
            </h4>
            <p class="mb-0">
              <% if @lesson_note.start_time.present? && @lesson_note.end_time.present? %>
                <%= @lesson_note.start_time.strftime("%Y年%m月%d日 %H:%M") %> 〜
                <%= @lesson_note.start_time.to_date != @lesson_note.end_time.to_date ? @lesson_note.end_time.strftime("%d日 %H:%M") : @lesson_note.end_time.strftime("%H:%M") %>
              <% else %>
                <span class="text-muted ">情報なし</span>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="row g-2 pt-3">
        <div class="col-md-6">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-file-earmark-text"></i> 内容
            </h4>
            <p class="mb-0"><%= simple_format@lesson_note.content %></p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="bg-light p-3 h-100">
            <div class="d-flex">
              <h4 class="card-title">
                <i class="bi bi-sticky"></i> 生徒用メモ
              </h4>
              <div class="ms-2">
                <%= link_to '<i class="bi bi-pencil"></i> 入力する'.html_safe, edit_students_lesson_note_path(@lesson_note), class: "btn btn-outline-info btn-sm" %>
              </div>
            </div>
            <p class="mb-0"><%= simple_format@lesson_note.student_memo %></p>
          </div>
        </div>
      </div>

      <div class="row g-2 py-3">
        <div class="col-md-4">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-image"></i> 画像資料
            </h4>
            <% if @lesson_note.image_material.present? %>
              <%= image_tag @lesson_note.image_material.url, class: "img-fluid" %>
            <% else %>
              <p class="text-muted">画像資料はありません。</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="bg-light p-3 h-100">
            <h4 class="card-title">
              <i class="bi bi-youtube"></i> 動画資料 (YouTube URL)
            </h4>
            <% if @lesson_note.video_material.present? %>
              <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/<%= @lesson_note.video_material.split('v=')[1] %>" allowfullscreen></iframe>
              </div>
            <% else %>
              <p class="text-muted">動画資料はありません。</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="text-center mt-4">
        <%= link_to '一覧に戻る', students_lesson_notes_path , class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
