<h1>レッスンログ編集</h1>
<%= form_with model: @lesson_log, url: instructors_lesson_log_path(@lesson_log), method: :patch do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div>
    <%= form.label :lesson_date, 'レッスン日時' %>
    <%= form.datetime_field :lesson_date %>
  </div>
  <div>
    <%= form.label :content, "レッスン内容" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :instructor_memo, "講師用メモ" %>
    <%= form.text_area :instructor_memo %>
  </div>
  <div>
    <%= form.label :image_material, "画像資料" %>
    <% if @lesson_log.image_material? %>
      <%= image_tag @lesson_log.image_material.url, style: "max-width: 200px; height: auto;" %>
    <% end %>
    <%= form.file_field :image_material %>
  </div>
  <div>
    <%= form.label :video_material, "動画資料 (YouTube URL)" %>
    <%= form.text_field :video_material, placeholder: "YouTubeの動画URLを入力してください", value: @lesson_log.video_material %>
  </div>
  <div>
    <%= form.label :log_status, "ログの状態" %>
    <%= form.select :log_status, ['完了', 'キャンセル'] %>
  </div>
  <div>
    <%= form.hidden_field :instructor_id, value: current_instructor.id %>
    <%= form.label :student_id, "生徒選択" %>
    <%= form.collection_select :student_id, @students, :id, :student_name %>
  </div>
  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '一覧に戻る', instructors_lesson_log_path %>
