<h1>レッスンログ詳細</h1>

<p>
  <strong>生徒:</strong>
  <%= @lesson_log.student.student_name %>
</p>

<p>
  <strong>レッスン日時:</strong>
  <%= @lesson_log.lesson_date.strftime("%Y年%m月%d日 %H:%M") %>
</p>

<p>
  <strong>レッスン内容:</strong>
  <%= @lesson_log.content %>
</p>

<p>
  <strong>生徒用メモ:</strong>
  <%= @lesson_log.student_memo %>
</p>

<p>
  <strong>講師用メモ:</strong>
  <%= @lesson_log.instructor_memo %>
</p>

<p>
  <strong>画像資料:</strong>
  <% if @lesson_log.image_material? %>
    <%= image_tag @lesson_log.image_material.url, style: "max-width: 200px; height: auto;" %>
  <% end %>
</p>

<p>
  <strong>動画資料:</strong>
  <% if @lesson_log.video_material.present? %>
    <div class="video-container">
      <iframe width="560" height="315" src="<%= @embed_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <% else %>
    <p>動画資料はありません。</p>
  <% end %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @lesson_log.log_status %>
</p>

<%= link_to '編集', edit_instructors_lesson_log_path(@lesson_log) %>

<%= link_to '一覧に戻る', instructors_lesson_logs_path %>
